@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Gilroy";
  src:
    url("../src/assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../src/assets/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

#root {
  @apply flex min-h-screen flex-col;
}

::selection {
  @apply bg-[#f9f9f990] text-[#141414];
}

::-moz-selection {
  @apply bg-[#f9f9f990] text-[#141414];
}

@layer base {
  * {
    @apply outline-none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#141414] font-gilroy font-medium;
}

input {
  @apply outline-none;

  &:hover,
  &:focus-visible {
    @apply outline-none;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset;
  box-shadow: 0 0 0px 1000px #f9f9f9 inset;
  -webkit-text-fill-color: #262626 !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset;
  box-shadow: 0 0 0px 1000px #f9f9f9 inset;
  -webkit-text-fill-color: #1f1f1f !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.title {
  @apply text-[20px] font-bold leading-[1] tracking-[-0.02em] text-[#f9f9f9] md:text-[28px] md:leading-[1.14] md:tracking-[0.02em];
}

.text {
  @apply text-[12px] leading-[1.33] tracking-[-0.02em] md:text-[14px] md:leading-[1.29];
}

.text-message {
  @apply mt-[4px] pl-[14px] text-[10px] leading-[1.2] tracking-[-0.02em] transition duration-300 md:mt-[8px] md:text-[12px] md:leading-[1.17];
}

.hover {
  &:hover,
  &:focus-visible {
    @apply text-[#f9f9f9];
  }
}

.button {
  @apply rounded-[30px] border text-center text-[14px] font-bold leading-[1] tracking-[0.02em] transition duration-500 md:text-[16px];
}

.button-logout {
  @apply h-[38px] w-[91px] p-[10px] md:h-[42px] md:w-[114px] md:p-[12px];
}

.hover-button {
  &:hover,
  &:focus-visible {
    @apply border-[#f9f9f933] bg-transparent text-[#f9f9f9];
  }
}

.hover-logout {
  &:hover,
  &:focus-visible {
    @apply border-transparent bg-[#f9f9f9] text-[#1f1f1f];
  }
}

.active {
  @apply relative overflow-hidden text-[#f9f9f9];
}
.active::before,
.active::after {
  @apply absolute bottom-0 z-[0] h-[3px] w-full overflow-hidden rounded-[8px] bg-[#4f92f7] content-[''];
}
.active::before {
  @apply left-0 origin-right scale-x-0 hover:origin-left hover:scale-x-100;
  transition: transform 0.9s ease;
}
.active::after {
  @apply left-0 origin-left hover:origin-right hover:scale-x-0;
  transition: transform 0.3s ease;
}

.link:not(.active) {
  @apply relative;
}
.link:not(.active):after {
  @apply absolute bottom-0 left-0 h-[3px] w-full origin-right scale-x-0 rounded-[8px] bg-[#4f92f7] transition duration-500 content-[''] hover:origin-left hover:scale-x-100;
}

.label {
  @apply text absolute left-[14px] top-[14px] text-[#686868] md:top-[16px];
}

.text-dashboard {
  @apply text-[18px] font-bold leading-[1] tracking-[-0.02em] sm-max:text-[16px] md:text-[20px];
}

.number {
  @apply text-dashboard flex size-10 items-center justify-center rounded-full bg-[#f9f9f9] text-[#1f1f1f] sm-max:size-[36px] md:size-[44px];
}

.description {
  @apply text-[14px] leading-[1.29] tracking-[-0.02em] sm-max:text-[12px];
}

.hover-link {
  @apply transition duration-500;

  &:hover,
  &:focus-visible {
    @apply text-[#f9f9f9];
  }
}

.bg-img {
  background-image: url("./assets/images/library/books_tablet_1x.webp");

  background-repeat: no-repeat;
  background-position: top 22px left 20px;
  background-size: 40px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 1.5dppx) {
  .bg-img {
    background-image: url("./assets/images/library/books_tablet_2x.webp");
  }
}

.modal-title {
  @apply text-[18px] font-bold leading-[1] tracking-[-0.02em] text-[#f9f9f9] sm-max:text-[16px] md:text-[20px];
}

.img-modal {
  background-image: url("./assets/images/modal/like_mobile_1x.webp");

  background-repeat: no-repeat;
  background-position: top 60px left 50%;
  background-size: 50px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 1.5dppx) {
  .img-modal {
    background-image: url("./assets/images/modal/like_mobile_2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .img-modal {
    background-image: url("./assets/images/modal/like_tablet_1x.webp");

    background-repeat: no-repeat;
    background-position: top 50px left 50%;
    background-size: 70px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .img-modal {
      background-image: url("./assets/images/modal/like_tablet_2x.webp");
    }
  }
}

.books-modal {
  background-image: url("./assets/images/library/books_mobile_1x.webp");

  background-repeat: no-repeat;
  background-position: top 60px left 50%;
  background-size: 50px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 1.5dppx) {
  .books-modal {
    background-image: url("./assets/images/library/books_mobile_2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .books-modal {
    background-image: url("./assets/images/library/books_tablet_1x.webp");

    background-repeat: no-repeat;
    background-position: top 50px left 50%;
    background-size: 70px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .books-modal {
      background-image: url("./assets/images/library/books_tablet_2x.webp");
    }
  }
}

.pagination {
  @apply flex size-8 items-center justify-center rounded-full border border-[#f9f9f920] bg-transparent transition duration-500 disabled:pointer-events-none md:size-10;

  &:hover,
  &:focus-visible {
    @apply border-[#4F92F7];
  }
}

.pagination-icon {
  @apply fill-none stroke-[#F9F9F9] transition duration-500 md:size-5;
}
